<p class="pull-right">
  [<%= link_to "Edit this post", edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>

<%= render "shared/title", title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>

<%= render "shared/errors", obj: @comment %>

<div class="well">
  <%= form_for [@post, @comment] do |f| %>
    <div class="control-group">
      <%= f.label :body, "Leave a comment" %>
      <%= f.text_area :body, rows: 5, class: "span4"  %>
    </div>
    <%= f.submit "Submit Comment", class: 'btn btn-primary' %>
  <% end %>
</div>

<p>Comments:</p>
<% @post.comments.each do |comment| %>
  <div class="well span8">
    <em>"<%= comment.body %>"</em>
    <span class="quiet">Created by </span> <%= comment.creator.username %> <small>at</small> <%= comment.created_at %> 
  </div>
<% end %>